# backports.zoneinfo==0.2.1
Django==4.2.1
django-filter==23.2
djangorestframework==3.14.0
Faker==18.7.0
# mysql==0.0.3
# mysqlclient==2.1.1
# numpy==1.24.3
# pandas==2.0.1
python-dotenv==1.0.0
requests~=2.30.0
# urllib3
